In [1]:
x = int(input("x="))
y = int(input("y="))
print(x+y)

x= 3
y= 4

7

In [35]:
base = float(input("base"))
altura = float(input("altura"))
area = base * altura
print("area é =", area)

base 10
altura 66

area é = 660.0

In [2]:
Celsius = float(input("Entre com a temperatura em Cº:"))
fare = (9*Celsius+160)/5
print ("A temperatura em Fº é:=", fare)

Entre com a temperatura em Cº: 31

A temperatura em Fº é:= 87.8

In [3]:
from math import pow, sqrt

x1 = float(input("Valor x1"))
y1 = float(input("Valor y1"))
x2 = float(input("Valor x2"))
y2 = float(input("Valor y2"))

dx = x2 - x1
dy = y2 - y1
D = sqrt(pow(dx,2) + pow(dy,2))
print("distancia =", D)

Valor x1 3
Valor y1 4
Valor x2 4
Valor y2 1

distancia = 3.1622776601683795

In [18]:
nome = input("Diga seu Nome")
print("Bom dia", nome)

Diga seu Nome Renato

Bom dia Renato

In [29]:
idade = int(input("Digite o Ano de Nascimento"))
print("Idade = ", 2025 - idade)
print("meses = ", (2025 - idade)* 12)
print("dias = ", (2025 - idade)* 365)
print("semanas =",(2025 - idade)* 52)

Digite o Ano de Nascimento 1994

Idade =  31
meses =  372
dias =  11315
semanas = 1612

In [47]:
Salario = float(input("Digite o quanto ganha"))
x= Salario * 0.25
print("Seu novo salario e =", x+Salario)

Digite o quanto ganha 2500

Seu novo salario e = 3125.0

In [49]:
Salario = float(input("Digite seu salario"))
Percentual = float(input("Quer 10, ou 12% de aumento?"))
x = Salario * (Percentual/100)
y = Salario - x
print("Voce ganhou =", x)
print("Novo Salario =", y)

Digite seu salario 2500
Quer 10, ou 12% de aumento? 10

Voce ganhou = 250.0
Novo Salario = 2250.0

In [54]:
Inv = float(input("Digite o Valor para Investir"))
Mes = float(input("Por quanto meses quer investir?"))
Juros = 0.0125
retorno = Inv * (Mes * Juros)
total = Inv + retorno
print("Retorno =", retorno)
print("total =", total)

Digite o Valor para Investir 100000
Por quanto meses quer investir? 34

Retorno = 42500.00000000001
total = 142500.0

In [56]:
polegadas = 10
pe = 12 * polegadas
jardas = 3 * pe
milha = 1760 * jardas

print("total de polegadas")
print("pe =", pe)
print("jardas =", jardas)
print("milha =", milha)

total de polegadas
pe = 120
jardas = 360
milha = 633600